doctype html
html(lang="ru")
    block head
    body
        .page__wrapper
            include Components/header/header.pug
            main.page
                block content
            include Components/footer/footer.pug
        block scripts
