// include mixins
// include ../../components/ui/button/button.pug

html(lang="ru")
    head
        meta(name="description", content="WEBPACK CONFIG LANDING")
        meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
        link(href=require("../../assets/styles/styles.scss") rel="stylesheet")
        title WEBPACK CONFIG PUG 2023
    body
        .root 
            include ../../components/header/header.pug
            main.page
                // include ../../components/hero/hero.pug
            include ../../components/footer/footer.pug
        script(src=require("./main.js"))
