extends Components/layout/default.pug

block head 
    include Components/head/head.pug
    +head("WEBPACK CONFIG PUG 2023")
block content
    // include ../../components/hero/hero.pug

block scripts 
    script(src=require("./main.js"))
