// font-family
$ff-primary: "";
$ff-secondary: "";

// container limited
$limited: 1180px;

// media breakpoints
$points-sm: 576.98px;
$points-md: 768.98px;
$points-lg: 992.98px;
$points-xl: 1200.98px;
$points-xxl: 1400.98px;

// font-weight
$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-semibold: 600;
$fw-bold: 700;
$fw-extrabold: 800;

// colors
$color-black: #000;
$color-white: #fff;
